.example-enter {
    opacity: 0;
    transform: translateX(100%);
}

.example-enter.example-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all .5s ease-in;
}

.example-exit {
    opacity: 1;
    transform: translateX(0);
}

.example-exit.example-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: all .3s ease-out;
}


.example-appear {
    opacity: 0.01;
}
.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}